{% extends "website/base.html" %}

{% block content %}
<head>
    <title>TESLA INDUSTRIES</title>

    <style>
        .class1{
            background-color: black;
            text-align: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding: 10px;
        }
        h1{
            color: chocolate;
        }
        #s1{
            color: coral;
            font-family: 'Times New Roman', Times, serif;
        }
        h3{
            color: cornflowerblue;
        }
    </style>
</head>

<body>
    <div class="class1">
        <div>
            <img src="/static/img/contact.jpeg" alt="contact" height="180px" width="63%">
        </div>
        <div>
            <h1>
                <centre>Contact</centre>
            </h1> <br> 
            <h3><strong>EMAIL:</strong> starkind@yahoo.com</h3> 
            <h3><strong>PHONE:</strong> 999-888-77-66</h3>
            <h3><strong>ADDRESS</strong>: No:3 Stark Tower, New York City, USA</h3>
            <br> <br> <br>
        </div>

        <footer id="s1">Copyright &COPY; 2021 Tesla Industries, Developed by Lokesh Krishnaa M.</footer>
    </div>
</body>

{% endblock %}