{% extends "website/base.html" %}
{% block content %}

    <style>
        .id{
            background-color: rgb(0, 0, 0);
            display: block;
            color: cornsilk;
            text-align: center;
        }
        .id .img{
            display: inline-block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5px;
            padding: 5px;
        }
        h3{
            color: white;
        }
        h2{
            color: crimson;
        }
        img{
            border-radius: 9px;
        }
    </style>
    <div class="id">
        <div>
            <div class="img">
            <h2>FOUNDER AND CHAIRMAN</h2>
            <img src="/static/img/kalam.jpeg" alt="chairman" height="250px" width="230px">
            </div>  
            <h3><u>DR.APJ ABDUL KALAM</u></h3> <br> <br><br>
        </div>
        <div>
            <div class="img">
            <h2>CHIEF EXECUTIVE OFFICER</h2>
            <img src="/static/img/rdj.jpeg" alt="chairman" height="250px" width="230px">
        </div>            
            <h3><u>ROBERT DOWNEY JUNIOR</u></h3> <br> <br> <br>
        </div>

        <div>
            <div class="img">
            <h2>DIRECTOR OF ENGINEERING</h2>
            <img src="/static/img/elon.jpeg" alt="chairman" height="250px" width="230px">
        </div>
            <h3><u>MR. ELON MUSK</u></h3> <br> <br> <br>
        </div>
        <div>
            <div class="img">
            <h2>SOFTWARE ANALYST AND CONSULTANT</h2>
            <img src="/static/img/gates.jpeg" alt="chairman" height="250px" width="230px">
        </div>            
            <h3><u>BILL GATES</u></h3> <br> <br> <br>
        </div>
        
        <div>
            <div class="img">
            <h2>CHIEF FINANCIAL OFFICER</h2>
            <img src="/static/img/cfo.jpeg" alt="chairman" height="250px" width="230px">
        </div>           
            <h3><u>ANDREW GARFIELD</u></h3> <br><br><br>
        </div>
        <div>
            <div class="img">
            <h2>MANAGING DIRECTOR</h2>
            <img src="/static/img/brie.jpeg" alt="chairman" height="250px" width="230px">
        </div>          
            <h3><u>BRIE LARSON</u></h3> <br><br><br>
        </div>

    </div>
{% endblock  %}